@model Shared.Model.Request.Account.ChangePasswordModel
@{
    //Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="content">

    <!-- content -->
    <div class="row flex-fill g-4">
        <div class="col-md-12 d-flex align-items-center justify-content-center">
            <div class="outer-box">
                <div class="white-box-header" style="margin-bottom:10px">
                    <h1>Change Password</h1>
                </div>
                <form id="ChangePasswordFrm">
                    <div class="row g-3">
                        <div class="col-md-12">
                            <label>Old Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.OldPassword, new{ @class = "form-control", @placeholder = "Old Password", @maxlength = 20, @type="password", @style = "padding-left: 8px; !important"})
                            </div>
                            @Html.ValidationMessageFor(x => x.OldPassword, "", new { @class = "text-danger"})
                        </div>
                        <div class="col-md-12">
                            <label>New Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.Password, new{ @class = "form-control", @placeholder = "New Password", @maxlength = 20, @type="password", @style = "padding-left: 8px; !important"})
                            </div>
                            @Html.ValidationMessageFor(x => x.Password, "", new { @class = "text-danger"})
                        </div>
                        <div class="col-md-12">
                            <label>Confirm Password</label>
                            <div class="position-relative">
                                @Html.TextBoxFor(x => x.ConfirmPassword, new{ @class = "form-control", @placeholder = "Confirm Password", @maxlength = 20, @type="password", @style = "padding-left: 8px; !important"})
                            </div>
                            @Html.ValidationMessageFor(x => x.ConfirmPassword, "", new { @class = "text-danger"})
                        </div>
                        <div class="col-md-12 pt-2">
                            <button class="btn btn-primary w-100 text-center" type="button" onclick="ChangePasswordUser(this)">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!-- Js -->
<environment include="Development">
    <script src="~/sitejs/user.js"></script>
</environment>
 <environment exclude="Development">
    <script src="~/js/user.min.js"></script>
</environment>

@section scripts{
    <script>
        $(document).ready(function () {
            $("#ChangePassword").addClass('active');
        });
    </script>
}
