@{
    ViewData["Title"] = @Model.Title; ;
    Layout = "_Layout";
}

<link rel="stylesheet" href="../_next/static/css/ec4fb939b29d7800.css" data-precedence="next" />
<link rel="stylesheet" href="../_next/static/css/5a70829ff2148b14.css" data-precedence="next" />
<link rel="stylesheet" href="../_next/static/css/48a19eb77d512b38.css" data-precedence="next" />
<link rel="stylesheet" href="../_next/static/css/90aa3d0f587a6b82.css" data-precedence="next" />
<link rel="stylesheet" href="../_next/static/css/a40be642fae9b067.css" data-precedence="next" />
<link rel="stylesheet" href="../_next/static/css/f8fbc34b1bfc2751.css" data-precedence="next" />
<link data-precedence="next" href="../_next/static/css/style.css" rel="stylesheet" />


<div>
    <div class="InnerBannerServices_innerBannerServicesBlock__CEpRF d-flex align-items-center"><div class="small-container container"><div> <h1>@Model.Title</h1></div></div></div><div class="PressEventsDetail_pressEventsDetailSec__962Y5 sec-pad">
        <div class="PressEventsDetail_pressEventsSinglePost__x6tvj">
            <div class="small-container container">
                <div class="flex-wrap justify-content-between mb-4 hstack gap-3"><span class="PressEventsDetail_eventDate__w_9HV"></span><span class="PressEventsDetail_techTag__ojUo8">@Model.Category</span></div><div class="article-description mb-4">
                    <div class="graphql">
                        <p><img alt="img" border="0" class="aligncenter size-full wp-image-7596" hspace="0" src="@Model.ImagePath" style="max-width:100%;"></p>

                        @Html.Raw(Model.Content)
                        <div id="why-wholesale"></div>
                    </div>
                    <style>
                        p {
                            text-align: justify;
                        }
                    </style>
                </div><div class="PressEventsDetail_followIcons__1W3M9 mb-4 mt-4 align-items-center hstack gap-3"><strong>Follow Us</strong><a href="https://www.facebook.com/cohostweb/"><img alt="facebook-icon" class="" src="/assets/facebook_icon.webp"></a><a href="https://x.com/cohostweb"><img alt="x-twitter-icon" class="" src="/assets/x-twitter.webp"></a><a href="https://www.linkedin.com/company/cohostweb/"><img alt="linkedin-icon" class="" src="/assets/linkedin_icon.webp"></a></div>
            </div>
        </div>
        <div class="undefined mt-5">
            <div class="small-container container">
                <h2>Related Post</h2>
                <div class="row">
                    @if (ViewBag.RelatedArticles != null && ViewBag.RelatedArticles.Count > 0)
                    {
                        @foreach (var item in ViewBag.RelatedArticles)
                        {
                            <div class="col-md-4 col-sm-12">
                                <div class="Articles_ArticalBox__iUGhA">
                                    <div class="undefined Articles_ArticalImg__ry2S2">
                                        <a href="/press-and-events/@item.Slug">
                                            <img alt="Article-Image" class="" src="@item.ImagePath">
                                        </a>
                                    </div>

                                    <div class="Articles_ArticalContant__hqctz">
                                        <div class="Articles_TechArticalBlock__dr3fa d-flex align-items-center justify-content-between">
                                            <div class="Articles_TechArticalDate__Q9EaZ d-flex align-items-center">
                                                <img alt="calendar-icon" class="" src="/assets/calendar-icon.webp">
                                                @item.PublishedDate.ToString("MMMM dd, yyyy")
                                            </div>
                                            <div class="Articles_TechArticalInfo__8dhr8">
                                                @item.Category
                                            </div>
                                        </div>

                                        <h3>
                                            <a href="/blog/@item.Slug">
                                                @item.Title
                                            </a>
                                        </h3>

                                        <p>
                                            @item.ShortDescription
                                        </p>

                                        <a class="Articles_articleBtn__LJvRk btn-custom btn-small btn-arrow"
                                           href="/blog/@item.Slug">
                                            Keep Reading
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else{
                        <div>No Related Post Yet</div>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
                $(document).ready(function () {
            var $img = $(".Header_Logo___7H4X.navbar-brand img");

            if ($img.length) {
                var currentSrc = $img.prop("src");

                // Remove '/blog' from the URL
                var newSrc = currentSrc.replace("/blog", "");

                $img.prop("src", newSrc);
            }
        });

        document.addEventListener("DOMContentLoaded", function () {

            const metaTitle = "@(Model.Title ?? Model.Title)";
            const metaDescription = "@(Model.MetaDescription ?? Model.ShortDescription)";
            const metaKeywords = "@Model.MetaKeywords";

            // TITLE
            document.title = metaTitle;

            // DESCRIPTION
            let descTag = document.querySelector('meta[name="description"]');
            if (!descTag) {
                descTag = document.createElement('meta');
                descTag.setAttribute('name', 'description');
                document.head.appendChild(descTag);
            }
            descTag.setAttribute('content', metaDescription);

            // KEYWORDS (optional)
            if (metaKeywords) {
                let keyTag = document.querySelector('meta[name="keywords"]');
                if (!keyTag) {
                    keyTag = document.createElement('meta');
                    keyTag.setAttribute('name', 'keywords');
                    document.head.appendChild(keyTag);
                }
                keyTag.setAttribute('content', metaKeywords);
            }
        });
    </script>


}