<table class="table">
    <tr>
        <th>Image</th>
        <th>Title</th>
        <th>Category</th>
        <th>Date</th>
        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td><img src="@item.ImagePath" width="80" /></td>
            <td>@item.Title</td>
            <td>@item.Category</td>
            <td>@item.PublishedDate.ToString("dd MMM yyyy")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
            </td>
        </tr>
    }
</table>
