@using Shared.Resources;
@model Shared.Model.DTO.UsersDto
@{
    var pageSize = ViewBag.PageSize;
    var pageIndex = ViewBag.PageIndex;
}
@Html.HiddenFor(x => pageSize)
@Html.HiddenFor(x => pageIndex)
@Html.HiddenFor(x => ResourceString.ActivateUser, new { @id = "activateUserMsg" })
@Html.HiddenFor(x => ResourceString.DeactivateUser, new { @id = "deactivateUserMsg" })
@Html.HiddenFor(x => ResourceString.DeleteUser, new { @id = "deleteUserMsg" })
@Html.HiddenFor(x => ResourceString.RecoverUser, new { @id = "recoverUserMsg" })

<div class="content">
    <div class="row flex-fill g-4">
        <div class="col-md-12">
            <div class="white-box">
                <div class="white-box-header" style="margin-bottom:10px">
                    <h1>Users</h1>
                </div>
                <div class="d-flex row mt-2 g-sm-2">
                    <div class="col-6 col-sm-auto mb-2 mt-0">
                        <div class="Searchbar">
                            <input id="seachinput" type="text" class="form-control seachinput" placeholder="Search here">
                        </div>
                    </div>

                </div>
                <div class="table-responsive">
                    <table class="table table-sm table-default align-middle nowrap" id="data-table_users" style="width:100% !important">
                        <thead>
                            <tr>
                                @foreach (var p in new Shared.Model.DTO.UsersDto().GetType().GetProperties().Where(p => !new List<string>() { "UserLoginId", "ProfilePicture", "TotalRecord", "CreatedOn" }.Contains(p.Name)))
                                {
                                    <th data-name="@p.Name">@(p.GetCustomAttribute<DisplayAttribute>()?.Name ?? p.Name)</th>
                                }
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


@section scripts {
    <environment include="Development">
        <script src="~/sitejs/common/table.js" asp-append-version="true"></script>
        <script src="~/sitejs/admin.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/table.min.js" asp-append-version="true"></script>
        <script src="~/js/admin.min.js" asp-append-version="true"></script>
    </environment>
    <script>
        $(document).ready(function ()
        {
            $("#User").addClass('active');
        });
    </script>
}

